@import 'variables';

header {
  border-top: 5px solid $color;

  color: $gray;

  .label-container {
    width: $site-width;
    max-width: calc(100% - 50px);
    margin: 0 auto;

    padding-top: 20px;
    padding-bottom: 15px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  h1 {
    float: left;
    font-size: 20px;
  }

  .site-menu {
    float: right;
  }
}
