@import 'mixins';
@import 'variables';

.image-thumbnail {
  position: relative;

  background-image: url('http://www.hillspet.com/HillsPetUS/v1/portal/en/us/cat-care/images/HP_PCC_md_0130_cat53.jpg');
  background-size: cover;

  overflow: hidden;

  .controls {
    opacity: 0;
    transform: scale(2);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include flex-rows;
    @include flex-align-center;
    @include flex-justify-center;

    padding: 10px;

    background-color: rgba(black, .4);

    color: white;
    text-align: center;

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 13px;
      line-height: 18px;
      color: darken(white, 10%);
    }

    .actions {
      button + button {
        margin-left: 10px;
      }
    }

    .tags {
      .tag + .tag {
        &:before {
          display: inline;
          content: ', ';
        }
      }
    }

    .author {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &:hover {
    .controls {
      opacity: 1;
      transform: scale(1);
    }
  }
}
