@import 'variables';
@import 'mixins';

.image-uploader {
  @include flex-cols;
  @include flex-justify-center;

  margin: 5px;

  .preview,
  .placeholder {
    border: 2px dashed black;
    border-radius: 4px;

    cursor: pointer;
  }

  .metadata-panel,
  .preview,
  .upload-panel {
    @include flex-fill;
  }

  .preview {
    padding: 5px;

    max-width: 500px;
    max-height: 400px;

    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;

      border-radius: 4px;
    }
  }

  .metadata-panel {
    @include flex-rows;
    @include flex-align-center;
    @include flex-justify-center;

    input {
      width: 100%;
      max-width: 350px;
    }

    input + input {
      margin-top: 10px;
    }

    .error {
      background-color: darken(red, 10%);
      color: white;

      border-radius: 4px;

      width: 100%;
      max-width: 350px;
      margin: 10px 0;
      padding: 3px 8px;
    }
  }

  .placeholder {
    width: 500px;
    height: 100px;

    @include flex-rows;
    @include flex-align-center;
    @include flex-justify-center;
  }

  .upload-panel {
    @include flex-rows;
    @include flex-align-center;
    @include flex-justify-center;

    button {
      width: 100%;
      max-width: 250px;
    }

    button + button {
      margin-top: 10px;
    }
  }
}
